.login__container {
    width: 100vw;
    min-height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
}

.logo {
    height: 100px;
    width: 350px;
}

.login__card {
    width: 450px;
    background-color: var(--bg-box);
    border: 1px solid var(--cinza);
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.login__card h3 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.registrese a {
    font-weight: bold;
}