.container {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.titulo {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1.2em;
}

.label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input {
    display: none;
}

.indicador {
    position: relative;
    width: 1em;
    height: 1em;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    z-index: 0;
}

.input:checked + .indicador {
    border-width: 5px;
}
